body{
    margin: 0px;
    background-color: wheat;
    color: wheat;
}
#container {
    color: rgb(255, 255, 255);
    background-color: rgb(54, 22, 12);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div{
    overflow: hidden;
}
.box{
    position: relative;
   /* margin-right: 15px; */
   
   text-align: center;
   padding: 0.5%;
    color: rgb(189, 147, 99);
   margin: 1%;
}

.box:hover{
     border-bottom:2px rgb(189, 147, 99) solid;
}
a{
    text-decoration: none;
    color: wheat;
    
}
#contain{
    display: grid;
    grid-template-columns: 10% 50% 40%;
    margin-top: 5%;
}
#mainA{
    background-color: rgba(0, 0, 0, 0.521);
    padding: 5%;
    border-radius: 50px;
    
}
#myLi{
    margin: 8% 0px 5% 5%;
}
.item{
    margin: 5%;
    list-style: georgian outside url(../images/checkedPort4.jpeg);
    
}
footer{
    padding: 3%;
    text-align: center;
    margin: 0px;
    background-color: rgba(54, 22, 12, 0.877);
    margin-top: 20%;
}
#dropdown{
    display: none;
}
#dropdown button{
    background-color: rgb(70, 25, 11);
    margin: 5px;
}
.butn{
    width: 25px;
    height: 3px;
    margin: 3px 0px;
    background-color: wheat;
}
.droplist{
    margin: 3px;
}
.droplist:hover{
    border-bottom:2px solid rgb(221, 197, 169) ;
}
@media screen and (max-width:800px){
    #contain{
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        margin: 7% ;
    }
    .box{
        display: none;
    }
    #dropL{
        display: none;
    }
    #dropdown{
        display: flex;
        flex-direction: column;
        margin-left: 70%;
    }
    #dropdown:hover #dropL {display: block;}
}
