body{
    margin: 0px;
    background-color: wheat;
    color: wheat;
}
#container {
    color: rgb(10, 6, 6);
    background-color: rgb(54, 22, 12);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div{
    overflow: hidden;
}
.box{
    position: relative;
   /* margin-right: 15px; */
   
   text-align: center;
   padding: 0.5%;
    color: rgb(189, 147, 99);
   margin: 1%;
}

.box:hover{
    border-bottom:2px rgb(189, 147, 99) solid;
}

a{
    text-decoration: none;
    color: #fff;
    
}
#bio{
    display: flex;
    flex-direction: row-reverse;
    background-image: url(../images/wow3.jpg);
    overflow: hidden;
    text-align: center;
    color: rgb(248, 246, 246);
    
}
.icons{
    margin: 3%;
}
.images{
    border-radius: 10px;
}
#forms{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    
}
.items{
    margin: 5%;
}
#holder{
    margin-top: 15%;
    margin-left: 5%;
    flex: 1 1 40%;
}
#frm{
    margin-top: 10%;
    flex: 1 1 40%;
    background-color: rgba(0, 0, 0, 0.486);
    border-radius: 20px;
    
}
#frm2{
    padding: 5%;
}
.inputs{
    background-color: rgb(250, 236, 209);
    border-radius: 10px;
}
#frm button{
    text-decoration: none;
    padding: 10px 50px;
    background-color: rgba(54, 22, 12, 0.877);
    color: wheat;
    margin: 20px;
    font-size: large;
    font-weight: bold;
}
#frm button:hover{
    background-color:wheat;
    color: black;
}
#name,#phone,#email{
    width: 70%;
    padding: 2%;
    margin-left: 1%;
    margin-bottom: 5%;
}
#holder a img{
    max-width: 100%;
}
footer{
    padding: 2%;
    text-align: center;
    margin: 0px;
    background-color: rgba(54, 22, 12, 0.877);
    margin-top: 20%;
}
#message{
    max-width: 100%;
}
#meIcon{
    margin: 5%;
    margin-left: 7%;
    visibility: hidden;
}
@media screen and (max-width:700px){
    #forms{
        display: flex;
    }
    #holder{
        display: none;
    }
    #meIcon{
        visibility: visible;
    }
    
}