body{
    margin: 0px;
    /* overflow: hidden; */
    background-image: url(../images/wow6.jpg);
    color: wheat;
    
    
}
#hd{
    background-color: wheat;
    padding: 0.1%;
    text-align: left;
    margin: 0px;
    color: rgb(70, 25, 11);
    
}
header{
    display: flex;
}
header img{
    margin-left: 65%;
    padding:0.5% 0% ;
    border-radius: 100px;
}
header h1{
    padding-left: 7%;
}

#container nav{
    color: rgb(10, 6, 6);
    background-color: rgba(54, 22, 12, 0.877);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div{
    overflow: hidden;
}
.box{
    position: relative;
   /* margin-right: 15px; */
   
   text-align: center;
   padding: 0.5%;
    color: rgb(189, 147, 99);
   margin: 1%;
}

.box:hover{
    border-bottom:2px rgb(189, 147, 99) solid;
}
a{
    text-decoration: none;
    color: wheat;
    
}

#event{
    display: grid;
    grid-template-columns: 15% 35% 35% 15% ;
    gap: 6%;
    justify-content: center;
}
.fir , .seco{
    margin-top: 10%;
    padding: 5%;
    background-color: rgba(78, 78, 80, 0.514);
    border-radius: 20px;
    text-align: center;
}
.fir img, .seco img{
    max-width: 100%;
    margin: 0px;
}
footer{
    padding: 2%;
    text-align: center;
    margin: 0px;
    background-color: rgba(54, 22, 12, 0.877);
    margin-top: 15%;
    
}
#dropdown{
    display: none;
}
#dropdown .button{
    background-color: rgb(54, 22, 12);
    margin: 5px;
}
.butn{
    width: 30px;
    height: 3px;
    margin: 6px 0px;
    background-color: wheat;
}
.droplist{
    margin: 3px;
}
.droplist:hover{
    border-bottom:2px solid rgb(221, 197, 169) ;
}
@media screen and (max-width:800px){
    #event{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    header img{
        margin-left: 50%;
    }
    #container{
        background-color:rgb(54, 22, 12) ;
    }
    .box{
        display: none;
    }
    #dropL{
        display: none;
    }
    #dropdown{
        display: flex;
        flex-direction: column;
        margin-left: 83%;
    }
    #dropdown:hover #dropL {display: block;}
}
@media screen and  (max-width:500px){
    header img{
        margin-left: 40%;
    }
    
}